\documentclass[tikz, border=10mm]{standalone}
\usepackage{tikz}
\usetikzlibrary{positioning, calc, arrows.meta, chains, fit, shapes, 3d}
\input{nn_blocks.tex}

\definecolor{convcolor}{rgb}{1,0.8,0.5}
\definecolor{rescolor}{rgb}{0.8,0.8,1}
\definecolor{poolcolor}{rgb}{1,0.5,0.5}
\definecolor{upcolor}{rgb}{0.8,0.5,1}
\definecolor{opcolor}{rgb}{0.5,1,0.5}

\def\ConvColor{convcolor}
\def\ResColor{rescolor}
\def\PoolColor{poolcolor}
\def\UpColor{upcolor}
\def\OpColor{opcolor}
